 *{
    font-family: "Rimouski";
}

body{
    background-color: #293251;
}

.container{
    width: 300px;    
    background-color: #FFF;
    
    display: block;
    margin: 0 auto;
    
    border-radius: 10px;
    padding-bottom : 50px;
}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 300px;
    height: 260px;
    background-color: #F4F9FF;
}

.weather-icon{
    width: 300px;
    height: 128px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temperature-value{
    width: 300px;
    height:60px;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover{
    
}

.temperature-value span{
    color: #293251;
    font-size: 0.5em;
}

.temperature-description{
    
}

.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

.location{
    
}

.location p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}


© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete














































































/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #606767;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content:;
    align-items: center;
    width: 500px;
    height: 800px;
    border: solid thin #dedede;
}

.app-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100px;
    border: solid 1px #fff;
    margin: 15px;
    padding: 15px 10px;
}

.weather-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100px;
    border: solid 1px #fff;
    margin: 15px;
    padding: 15px 10px;
}

.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 500px;
    border: solid 1px #fff;
    margin: 15px;
    padding: 15px 10px;
}
            .weather-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 180px;
                border: solid 1px #fff;
            }

            .temperature-value {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 120px;
                margin-top: 15px;
                border: solid 1px #fff; 
            }

            .temperature-description {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 80px;
                margin-top: 15px;
                border: solid 1px #fff; 
            }

            .location {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 80px;
                margin-top: 15px;
                border: solid 1px #fff;                 
            }
*/